/* This file is for your main application css. */


#content1 {
	float: left;
	width: 25%;
	background-color: #DDD;
}
#content2 {
	float: left;
	width: 75%;
	background-color: #CCC;
}

#logo {
    float: left;
    height: 25%;
    
}



#search{
    float: left;
    height: 10%;
    background-color: #FFFFFF;

}

#feed, #query{
    float: left;
    height: 200px;
    width: 50%;
    overflow: scroll;
    background-color: #FFFFFF;
    text-align: left;
    margin-right: 5px;
    margin-left: 5px; 
    margin-top: 5px;
}

#container {overflow:hidden; background:#0f0;  margin-left: 5px;   width:100%; clear:both;background-color:green; repeat-y: 0%; border:thin #CCCCCC solid}
#colleft {float:left; width:50%;}
    #collright {float:left;  width:50%;}
    